
.container
{   
  padding: 10px;
  display: inline-block;
  border: 5px solid #006464;
  /* margin: 18px 17px; */
  margin-left: 10px;
  width: 96%;
}
.buttonDiv
{
 margin-bottom: 1px;
 width: 100%;
 float: right;
}
.example-container {
    width: 30%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  .formcontrolDiv
  {
    width: 7% !important;
  }
  .pagsetup
  {
    min-height: 400px;
    width: 70%;
  }
  .fieldattrDiv
  {
    width: 15% !important;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 100px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  .pagsetup label{
    width:125px !important;
  }

  form label
  {
    width:125px;
    text-transform: uppercase;
    display:inline-block;
    font-weight: 500;
  }
  .scroll
  {
    overflow-y: scroll;
    height: 400px;

  }
  .scroll .example-box
  {
    padding:3px 10px;
  }
  .scroll label
  {
  color: #006464;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box-control{
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: inline;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .example-list-control{
    margin: auto;
    width: fit-content;
    border: solid 1px #ccc;
    min-height: 25px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }