
<h3> Welcome To ESMS</h3>
<nav>
    <ul>
      <!--<li><a routerLink="/page" routerLinkActive="active">Page Setup</a></li>-->
      <li><a routerLink="/home" routerLinkActive="active">Redering View</a></li>
      <li><a routerLink="/section" routerLinkActive="active">Page set Up</a></li>
      <li><a routerLink="/render" routerLinkActive="active">Au Credit View</a></li>
      <li><a routerLink="/dynamic" routerLinkActive="active">Section</a></li>
      <li><a routerLink="/tree" routerLinkActive="active">Tree View</a></li>
    </ul>
  </nav>